body{
	background-color:#ffffff;
	color:#000000;
	text-align:center;
}
a{
	color:#0000ff;
}
.top{
	width:40em;
	line-height:1.4em;
	margin-left:auto;
	margin-right:auto;
}
.pswd{
	border:0pt;
	background-color: cornflowerblue;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
.pswdt{
	background-color: royalblue;
	color: white;
}
.topright{
	position:relative;
	left: 40%;
	margin-top:1em;
	margin-bottom:1em;
	padding:2pt;
	line-height:1.4em;
	text-align:right;
	background-color:#e0ffff;
	width:9em;
}
#getacro{
	border:0pt;
	width:88px;
	height:31px;
}
.head{
	width:100%;
	text-align: left;
	margin:0 auto 10px auto;
	background: indigo;
}
.head h1{
	padding:5px;
	margin:0px;
	font-size:16pt;
	color:#ffffff;
	font-family: Osaka,Verdana,Arial,Helvetica,sans-serif;
}
.left{
	float: left;
	text-align: left;
	width: 60%;
}
.right{
	left: 60%;
	float: left;
	width: 40%;
}
.foot{
	clear: both;
	font-size: small;
	text-align: right;
}
